<form action='/results'>

  <div class="form-group">
  <label for="enter-change">How much change do you need?</label>
  <input id="userinput" name="userinput" class="form-control" type="text">
  </div>

  <button type="submit" class="btn">Receive Change</button>

</form>
